#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50
}

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--dur: 0.3s;
	font-size: calc(40px + (80 - 40)*(100vw - 320px)/(2560 - 320));
}
body, input {
	color: hsl(0,0%,10%);
	font: 1em/1.5 sans-serif;
}
form, .toggle:before, .toggle:after {
	background: hsl(0,0%,90%);
}
form, .toggle {
	position: relative;
}
form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.curtain, .sr, .toggle:before, .toggle:after {
	position: absolute;
}
.curtain, .toggle:before, .toggle:after {
	transition: transform var(--dur);
}
.curtain, .toggle:before, .toggle:checked:after  {
	transition-timing-function: ease-out;
}
.curtain, .sr {
	top: 0;
	left: 0;
}
.curtain {
	background: hsl(0,0%,100%);
	mix-blend-mode: difference;
	pointer-events: none;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: 0 50%;
}
.sr, .toggle {
	overflow: hidden;
}
.sr {
	clip: rect(1px,1px,1px,1px);
	color: transparent;
	width: 1px;
	height: 1px;
}
.toggle {
	background: currentColor;
	border-radius: 0.75em;
	cursor: pointer;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.toggle:before, .toggle:after {
	border-radius: 50%;
	content: "";
	display: block;
	top: 0.25em;
	left: 0.25em;
	width: 1em;
	height: 1em;
}
.toggle:before, .toggle:checked:after {
	transition-delay: 0s;
}
.toggle:checked:before, .toggle:after {
	transition-delay: calc(var(--dur) * 0.75);
	transition-timing-function: cubic-bezier(0.3,1.6,0.5,0.7);
}
.toggle:before {
	transform: translateX(-1.5em);
}
.toggle:checked:before {
	transform: translateX(1.5em);
}
.toggle:checked:after {
	transform: translateX(3em);
}
.toggle:checked ~ .curtain {
	transform: scaleX(1);
}
.toggle:focus {
	outline: transparent;
}

#body {
#  background: #eee
#}

.container-max {
  width: 95%;
  max-width: 1000px;
  margin: auto
}

.style-header {
  margin-top: 25px
}

.title-big {
  font-size: 2.5rem
}

.title {
  text-align: left;
  margin: 0
}

.style-main {
  margin-top: 25px
}

@media (max-width:479px) {
  .all-status-card {
    width: 100%;
    margin: auto;
    margin-bottom: 20px
  }
}

@media (min-width:480px) {
  .all-status-card {
    width: 100%;
    margin: auto;
    margin-bottom: 30px
  }
}

.bullet {
  width: 26px;
  height: 26px;
  border-radius: 50%
}

.bullet,
.square {
  display: inline-block;
  vertical-align: middle;
  line-height: 3rem
}

.square {
  width: 7px;
  height: 28px;
  margin-right: 3px
}

.all-status-number {
  text-align: left
}

.success-bg {
  background: #67c23a
}

.warning-bg {
  background: #e6a23c
}

.danger-bg {
  background: #f56c6c
}

.info-bg {
  background: #909399
}

.success-color {
  color: #67c23a
}

.warning-color {
  color: #e6a23c
}

.danger-color {
  color: #f56c6c
}

.info-color {
  color: #909399
}

.status-span {
  vertical-align: middle;
  height: 100%;
  line-height: 3rem
}

.card-title {
  text-align: left;
  font-size: 1.5rem;
  margin: 0 0 10px 0
}

.loading-icon {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite
}
