#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}
body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

#body {
#  background: #eee
#}

.container-max {
  width: 95%;
  max-width: 1000px;
  margin: auto
}

.style-header {
  margin-top: 25px
}

.title-big {
  font-size: 2.5rem
}

.title {
  text-align: left;
  margin: 0
}

.style-main {
  margin-top: 25px
}

@media (max-width:479px) {
  .all-status-card {
    width: 100%;
    margin: auto;
    margin-bottom: 20px
  }
}

@media (min-width:480px) {
  .all-status-card {
    width: 100%;
    margin: auto;
    margin-bottom: 30px
  }
}

.bullet {
  width: 26px;
  height: 26px;
  border-radius: 50%
}

.bullet,
.square {
  display: inline-block;
  vertical-align: middle;
  line-height: 3rem
}

.square {
  width: 7px;
  height: 28px;
  margin-right: 3px
}

.all-status-number {
  text-align: left
}

.success-bg {
  background: #67c23a
}

.warning-bg {
  background: #e6a23c
}

.danger-bg {
  background: #f56c6c
}

.info-bg {
  background: #909399
}

.success-color {
  color: #67c23a
}

.warning-color {
  color: #e6a23c
}

.danger-color {
  color: #f56c6c
}

.info-color {
  color: #909399
}

.status-span {
  vertical-align: middle;
  height: 100%;
  line-height: 3rem
}

.card-title {
  text-align: left;
  font-size: 1.5rem;
  margin: 0 0 10px 0
}

.loading-icon {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite
}
