#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50
}

#body {
#  background: #eee
#}

// Imports & Mixins
@import url('https://fonts.googleapis.com/css?family=Share');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
//@import url('https://rsms.me/inter/inter-ui.css');


// breakpoints
@mixin for-size($viewport-size) {
  @if $viewport-size == phone-only {
    @media (max-width: 599px) { @content; }
  } 
  @else if $viewport-size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } 
  @else if $viewport-size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } 
  @else if $viewport-size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } 
  @else if $viewport-size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}

// SASS Variables
$dark: #111115;
$light: #EEE;
$toggle-height: 20px;
$toggle-width: $toggle-height * 2.33;
$border-width: 2px;
$header-font: "Share", sans-serif;
$body-font: "Open Sans", sans-serif;

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $light;
  font-family: $body-font;
  font-size: 16px;
  overflow: auto;
}

main {
  position: absolute;
  @include for-size(phone-only) { // vw<=599px
    left: 10%;
    width: 80%;
  }
  @include for-size(tablet-portrait-up) { // 600<=vw<=899
    left: 14%;
    width: 72%;
  }
  @include for-size(tablet-landscape-up) { // 900<=vw<=1199
    left: 17%;
    width: 66%;
  }
  @include for-size(desktop-up) { // 1200<=vw<=1799
    left: 20%;
    width: 60%;
  }
  @include for-size(big-desktop-up) { // vw>=1800 (yuge!)
    left: 24%;
    width: 52%;
  }
}

hr {
  background-color: #999;
  border: 0;
  height: 1px;
}

h3 {
  color: $dark;
  font-family: $header-font;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  &:not(:first-of-type) {
    margin-top: 2em;
  }
}

p {
  color: lighten($dark, 20%);
  hyphens: auto;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  margin-bottom: 1em;
  position: relative;
  left: 1em;
  text-align: justify;
  width: 95%;
  &:first-letter {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.bg {
  color: $dark;
  background-color: $light;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.25s all linear;
  z-index: -42;
}

.toggle {
  background: transparent;
  background-color: transparent;
  border-radius: $toggle-height;
  cursor: pointer;
  visibility: hidden;
  height: $toggle-height;
  width: $toggle-width;
  position: fixed;
  top: $toggle-height;
  right: $toggle-height;
  z-index: 2;
  &::before, &::after { // track, slider
    content: "";
    display: block;
    transition: 0.1s all ease-in-out;
    visibility: visible;
  }
  &::before { // track
    background: transparent;
    border: $border-width solid $dark;
    border-radius: $toggle-height;
    height: inherit;
    width: inherit;
  }
  &::after { // slider
    background: $dark;
    border-radius: $toggle-height - ($border-width * 4);
    height: $toggle-height - ($border-width * 4);
    width: $toggle-height;
    position: absolute;
    top: $border-width * 2;
    left: $border-width * 2;
  }
  &:checked { // toggle state: checked
    ~ main h3, ~ main p {
      color: $light;
    }
    &::before { //track
      background: $dark;
      border: $border-width solid $light;
    }
    &::after { // slider
      background: $light;
      left: $toggle-width - $toggle-height - $border-width * 2;
    }
    ~ .bg {
      background: $dark;
    }
  }
}

.container-max {
  width: 95%;
  max-width: 1000px;
  margin: auto
}

.style-header {
  margin-top: 25px
}

.title-big {
  font-size: 2.5rem
}

.title {
  text-align: left;
  margin: 0
}

.style-main {
  margin-top: 25px
}

@media (max-width:479px) {
  .all-status-card {
    width: 100%;
    margin: auto;
    margin-bottom: 20px
  }
}

@media (min-width:480px) {
  .all-status-card {
    width: 100%;
    margin: auto;
    margin-bottom: 30px
  }
}

.bullet {
  width: 26px;
  height: 26px;
  border-radius: 50%
}

.bullet,
.square {
  display: inline-block;
  vertical-align: middle;
  line-height: 3rem
}

.square {
  width: 7px;
  height: 28px;
  margin-right: 3px
}

.all-status-number {
  text-align: left
}

.success-bg {
  background: #67c23a
}

.warning-bg {
  background: #e6a23c
}

.danger-bg {
  background: #f56c6c
}

.info-bg {
  background: #909399
}

.success-color {
  color: #67c23a
}

.warning-color {
  color: #e6a23c
}

.danger-color {
  color: #f56c6c
}

.info-color {
  color: #909399
}

.status-span {
  vertical-align: middle;
  height: 100%;
  line-height: 3rem
}

.card-title {
  text-align: left;
  font-size: 1.5rem;
  margin: 0 0 10px 0
}

.loading-icon {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite
}
